/* ImageDetails.css */
.image-details img {
    width: 400px; /* Largeur du rectangle pour l'image */
    height: 250px; /* Hauteur du rectangle pour l'image */
    object-fit: cover; /* L'image couvre le rectangle sans déformation */
    margin-bottom: 20px;
    border-radius: 10px; /* Coins arrondis pour l'image */
    display: block;
    margin: 0 auto; /* Centre l'image dans le conteneur */
}

.image-details h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.image-details p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #555;
}

.image-details button {
    background-color: #f44336;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.image-details button:hover {
    background-color: #e53935;
}
